@charset "ISO-8859-1";

.header {
  background: url(https://wallpaperaccess.com/full/3541036.jpg) no-repeat center center; 
  background-size: cover;
  height: 800px;
  text-align: center; 
  background-color: #112249;
}


html, body {
  margin: 0;
  padding: 0;
}

.formblock {
  color: white;
  text-align: center;
  position: absolute;
  top: 230px;
  left: 8%;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 20px 30px 50px 90px;
  width: 45vw;
  height: 250px;
  background-color: hsla(225, 100%, 1%, 0.4);
  justify-content: center;
}


.boxstuff {

  align-items: center;
}

input {
	margin: 5px;
	text-align: center;
	position: relative;
}


#textstuff {
  margin-right: 50px;
  float: center;
}

#buttbutton {
  text-align: center;

  top: 400px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;
}

table {
  right: 300px;
}


.header .container {
  position: relative;
  top: 200px;
}

h1 {
  color: #fff;
  line-height: 100px; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase; 
  color: #FFB6C1;
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase; 
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none; 
  transition: background .5s; 
}

.nav { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
}

.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0;
}